<section>
    <mat-card class="center-text add-padding">
      <mat-card-content>
        <h2>(Angular) Google Books Search</h2>
        <h5>Search for and Save Books of Interest</h5>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="center-text add-padding" id="resultPannel">
      <mat-card-title>Results</mat-card-title>
        <mat-card-content>
          <mat-card class="book-card" *ngFor="let book of books; let i = index;">
              <img [src]="book.image" mat-card-image>
              <mat-card-title >
                {{ book.title}}
            </mat-card-title>
            <mat-card-content>
                <p>{{book.description}}</p>
                <p>written by: {{book.author}}</p>
              <button 
              mat-icon-button
              ><a [href]="book.url" target="_blank"><mat-icon>remove_red_eye</mat-icon></a></button>
              <button 
              mat-icon-button
              (click)="onRemove(i)"><mat-icon>delete</mat-icon></button>
          </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
  </section>
  
