<section>
  <mat-card class="center-text add-padding">
    <mat-card-content>
      <p>(Angular) Google Books Search</p>
      <p>Search for and Save Books of Interest</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="add-padding" id="searchPanel">
    <mat-card-title>Book Search</mat-card-title>      
    <mat-card-content>
      <form 
      [formGroup]="searchForm"
      (ngSubmit)="onSubmit()">
        <mat-form-field>
            <input matInput 
            type="search" 
            placeholder="Book"
            formControlName="search">
            <button 
            type="submit" 
            mat-button 
            matSuffix 
            aria-label="search">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
      </form>
    </mat-card-content>
    </mat-card>

    <mat-card class="center-text add-padding" id="resultPannel">
      <mat-card-title>Results</mat-card-title>
        <mat-card-content>
          <mat-card class="book-card" *ngFor="let book of books; let i = index;">
            <img [src]="book.volumeInfo.imageLinks.smallThumbnail" mat-card-image>
            <mat-card-title >
              {{ book.volumeInfo.title}}
          </mat-card-title>
          <mat-card-content>
              <p>{{book.volumeInfo.description}}</p>
              <p>written by: {{book.volumeInfo.authors[0]}}</p>
              <button 
              mat-icon-button
              ><a [href]="book.volumeInfo.infoLink" target="_blank"><mat-icon>remove_red_eye</mat-icon></a></button>
              <button 
              (click)="onSave(i)" 
              mat-icon-button
              ><mat-icon>save</mat-icon></button>
          </mat-card-content>
          </mat-card>
        </mat-card-content>
      </mat-card>
</section>

